USE [master]
GO
/****** Object:  Database [DataBasedChat]    Script Date: 19.05.2022 10:29:45 ******/
CREATE DATABASE [DataBasedChat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBasedChat', FILENAME = N'C:\SaveSql\DataBasedChat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBasedChat_log', FILENAME = N'C:\SaveSql\DataBasedChat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBasedChat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBasedChat]
GO
/****** Object:  Table [dbo].[Chat]    Script Date: 19.05.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chat](
	[ID_Chat] [int] IDENTITY(1,1) NOT NULL,
	[User_ID_First] [int] NOT NULL,
	[User_ID_Second] [int] NOT NULL,
 CONSTRAINT [PK_Chat] PRIMARY KEY CLUSTERED 
(
	[ID_Chat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Friends]    Script Date: 19.05.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Friends](
	[ID_Friends] [int] IDENTITY(1,1) NOT NULL,
	[User_ID_who_have_it] [int] NOT NULL,
	[User_ID_user_in_friendship] [int] NOT NULL,
 CONSTRAINT [PK_Friends] PRIMARY KEY CLUSTERED 
(
	[ID_Friends] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messedges]    Script Date: 19.05.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messedges](
	[ID_Messedge] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](7) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Messedge] [varchar](100) NOT NULL,
	[Chat_ID] [int] NOT NULL,
 CONSTRAINT [PK_Messedges] PRIMARY KEY CLUSTERED 
(
	[ID_Messedge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 19.05.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] IDENTITY(1,1) NOT NULL,
	[Familiya] [varchar](50) NOT NULL,
	[Ima] [varchar](50) NOT NULL,
	[Otchestvo] [varchar](50) NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zayavki]    Script Date: 19.05.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zayavki](
	[ID_Zayavki] [int] IDENTITY(1,1) NOT NULL,
	[User_ID_From] [int] NOT NULL,
	[User_ID_To] [int] NOT NULL,
	[Date] [date] NOT NULL,
 CONSTRAINT [PK_Zayavki] PRIMARY KEY CLUSTERED 
(
	[ID_Zayavki] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_User] FOREIGN KEY([User_ID_First])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_User]
GO
ALTER TABLE [dbo].[Chat]  WITH CHECK ADD  CONSTRAINT [FK_Chat_User1] FOREIGN KEY([User_ID_Second])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Chat] CHECK CONSTRAINT [FK_Chat_User1]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_User] FOREIGN KEY([User_ID_user_in_friendship])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_User]
GO
ALTER TABLE [dbo].[Friends]  WITH CHECK ADD  CONSTRAINT [FK_Friends_User1] FOREIGN KEY([User_ID_who_have_it])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Friends] CHECK CONSTRAINT [FK_Friends_User1]
GO
ALTER TABLE [dbo].[Messedges]  WITH CHECK ADD  CONSTRAINT [FK_Messedges_Chat] FOREIGN KEY([Chat_ID])
REFERENCES [dbo].[Chat] ([ID_Chat])
GO
ALTER TABLE [dbo].[Messedges] CHECK CONSTRAINT [FK_Messedges_Chat]
GO
ALTER TABLE [dbo].[Messedges]  WITH CHECK ADD  CONSTRAINT [FK_Messedges_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Messedges] CHECK CONSTRAINT [FK_Messedges_User]
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD  CONSTRAINT [FK_Zayavki_User] FOREIGN KEY([User_ID_From])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Zayavki] CHECK CONSTRAINT [FK_Zayavki_User]
GO
ALTER TABLE [dbo].[Zayavki]  WITH CHECK ADD  CONSTRAINT [FK_Zayavki_User1] FOREIGN KEY([User_ID_To])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Zayavki] CHECK CONSTRAINT [FK_Zayavki_User1]
GO
USE [master]
GO
